* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 500px;
    width: 500px;
    background-color: #e8e8e8;
    /* padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 20px; */
    padding: 50px;
    /* margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 30px; */
    margin: 25px;
    display: inline-block;
    border-radius: 25px;
    border: 10px double green;
    /* border-width: 10px;
    border-style: double;
    border-color: purple; */
}

.box1 {
    height: 500px;
    width: 500px;
    background-color: #e8e8e8;
    /* padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 20px; */
    padding: 50px;
    margin: 25px;
    display: inline-block;
    border-radius: 25px
}